<%= div_for(gallery) do %>
	<span class = "voter" style = "font-size:3rem;"><%= link_to like_gallery_path(gallery), method: :put, class: "glyphicon glyphicon-heart styled-heart", remote:true do %> 
		<% end %>
		<div style ="padding:0.5rem"></div>
		<span class = "show-likes-size label label-primary"><%= gallery.get_likes.size %></span>
	</span>
<% end %>