<%= div_for(gallery) do %>
	<span style = "font-size:3rem;float:left"><%= link_to like_gallery_path(gallery), method: :put, class: "glyphicon glyphicon-heart styled-heart", remote:true do %> 
		<% end %>
		<div style ="padding:0.5rem"></div>
		<span class = "show-likes-size label label-primary" style = "float:right"><%= gallery.get_likes.size %></span>
	</span>
<% end %>