
<div style = "text-align:center;display:inline-block;width:100%">
	
		<h1>Edit Gallery</h1>
		<%= render 'form' %>
		<div>
			<%= link_to "Back", galleries_path, class:"btn btn-default" %>
		</div>
</div>
