
@import "bootstrap-sprockets";
@import "bootstrap";


@media (max-width: 3000px) and (min-width: 1133px) {
  .indexEachGallery{
    box-shadow:2px 2px 2px 2px #acacad;
    text-align:center;
    width:100rem;
    display:inline-block;
    background-color:white;
    padding:0.1em;
    opacity:0.74;
    color:black;
    margin-bottom:1rem;
  }

  .indexEachGallery:hover{
  opacity: 1;

  }
  .voter{
    position:relative;
    z-index:1;
    width:10rem;
    top:3rem;
  }
}

//for gallery page.
@media (max-width: 1038px) and (min-width: 750px) {
  .indexEachGallery{
    box-shadow:2px 2px 2px 2px #acacad;
    text-align:center;
    width:60rem;
    display:inline-block;
    background-color:white;
    padding:0.1em;
    opacity:0.74;
    color:black;
    margin-bottom:2rem;

  }

  .indexEachGallery:hover{
  opacity: 1;

  }
  .voter{
    position:relative;
    z-index:1;
    width:10rem;
    float:left;
    left:5%;
    top:3rem;
  }
  .showimg{
  width:500px;
  }
}


@media (max-width: 1132px) and (min-width: 750px) {
  .indexEachGallery{
    box-shadow:2px 2px 2px 2px #acacad;
    text-align:center;
    width:60rem;
    display:inline-block;
    background-color:white;
    padding:0.1em;
    opacity:0.74;
    color:black;
    margin-bottom:2rem;

  }

  .indexEachGallery:hover{
  opacity: 1;

  }
  .voter{
    position:relative;
    z-index:1;
    width:10rem;
    float:left;
    left:5%;
    top:3rem;
  }
}
@media (max-width: 750px) and (min-width: 505px) {
  .indexEachGallery{
    box-shadow:2px 2px 2px 2px #acacad;
    text-align:center;
    width:40rem;
    display:inline-block;
    background-color:white;
    padding:0.1em;
    opacity:0.74;
    color:black;
    margin-bottom:2rem;

  }

  .indexEachGallery:hover{
  opacity: 1;

  }
  .voter{
    position:relative;
    z-index:1;
    width:10rem;
    float:left;
    left:5%;
    top:3rem;
  }
  .showimg{
  width:500px;
  }
}
@media all and (max-width: 504px) and (min-width: 360px) {
  .indexEachGallery{
    box-shadow:2px 2px 2px 2px #acacad;
    text-align:center;
    width:20rem;
    display:inline-block;
    background-color:white;
    padding:0.1em;
    opacity:0.74;
    color:black;
    margin-bottom:2rem;
  }

  .indexEachGallery:hover{
  opacity: 1;

  }
  .voter{
    position:relative;
    z-index:1;
    float:left;
    left:3rem;
    
    top:3rem;
  }
  .showimg{
  width:340px;
  }
}
@media all and (max-width: 360px) and (min-width: 300px) {
  .indexEachGallery{
    box-shadow:2px 2px 2px 2px #acacad;
    text-align:center;
    width:20rem;
    display:inline-block;
    background-color:white;
    padding:0.1em;
    opacity:0.74;
    color:black;
    margin-bottom:2rem;
  }

  .indexEachGallery:hover{
  opacity: 1;

  }
  .voter{
    position:relative;
    z-index:1;
    float:left;
    left:1rem;
    
    top:3rem;
  }
  .showimg{
  width:280px;
  }
}






body{
	background-color: #d0dede;
}
.nav1{
	background-color: #6d8ef8;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:9999;
}
#logo{
	color: #d0dede;
	font-size: 2em;
	font-family: "Brush Script MT";
	text-decoration: none;
}
#logo:hover{
	color: white;
}
#nav-content{
	color: #d0dede;
	font-size: 1.3em;
	font-family: "Comic Sans MS";
	text-decoration: none;
}
#nav-content:hover{
	color:white;
}
.notice-wrapper{
	position:absolute;
}


.nolink{
	color:#525252;
	text-decoration: none;
}
.nolink:hover{
	color:#525252;
	text-decoration: none;
}


.default-page{
  width:20em;
  box-shadow:2px 2px 2px 2px #acacad;
  background-color:white;
  text-align:center;
  display:inline-block;
  margin:1em;
  padding:1em;
}

.styled-heart{
  text-decoration:none;
  color:tomato;
}
.styled-heart:hover{
  text-decoration:none;
  color:crimson;
}




.comment-body{
  resize:none;
  height:3em;
}
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


















@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}



